<!DOCTYPE html>
<html ng-app="vodreApp">
    <head>
        <title>Load rule</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="scripts/jquery-2.0.3.min.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/loadRule.js"></script>
    </head>
    <body ng-controller="RulesController">
        <form id="form">
            <div>
                <label for="file">Load *.pkg file</label>
                <input id="file" name="file" type="file"/>
                <div class="fieldTypeDescr" style="border:1px solid black;" ng-repeat="fieldType in fieldTypes">
                    <p>
                        Field type name
                        <input type="text" name="fieldTypeName{{$index}}" />
                        <input type="button" value="Remove field type" ng-click="removeFieldType(fieldType)" ng-hide="$first"/>
                    </p>
                    <p class="fields" ng-repeat="field in fieldType.fields">
                        Field:
                        <input type="text" name="fieldName{{$parent.$index}}{{$index}}" ng-model="field.name"/>
                        Value:
                        <input type="text" name="fieldValue{{$parent.$index}}{{$index}}" ng-model="field.value"/>
                        <input type="button" value="Remove" ng-click="removeField(field, fieldType)" ng-hide="$first"/>
                    </p>
                    <input type="button" value="New field" ng-click="addField(fieldType)"/>
                </div>
                <input id="newClass" type="button" value="New field type" ng-click="addFieldType()"/>

                <p>
                    <input type="submit" value="Upload"  ng-click="uploadFile()"/>
                </p>
            </div>
        </form>
    </body>
</html>
