<!DOCTYPE html>
<html ng-app="vodreApp">
    <head>
        <title>Load rule</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="scripts/jquery-2.0.3.min.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/loadRule.js"></script>
    </head>
    <body ng-controller="RulesController">
        <form method="post" action="FileService/processFile/" enctype="multipart/form-data">
            <input type="hidden" name="facts" ng-value="facts"/>

            <div>
                <label for="loadPkg0">Load *.pkg file</label>
                <input id="loadPkg0" name="file" type="file" accept="application/octet">

                <div class="classDescr" style="border:1px solid black;" ng-repeat="class in classes">
                    <p>
                        Class name
                        <input type="text">
                        <input type="button" value="Remove class" ng-click="removeClass(class)" ng-hide="$first">
                    </p>

                    <p class="classFields" ng-repeat="field in class.fields">
                        Field:
                        <input type="text" ng-value="field.name">
                        Value:
                        <input type="text" ng-value="field.value">
                        <input type="button" value="Remove" ng-click="removeField(field, class)" ng-hide="$first">
                    </p>
                    <input type="button" value="New field" ng-click="addField(class)">
                </div>
                <input id="newClass" type="button" value="New class" ng-click="addClass()">

                <p>
                    <input type="submit" value="Upload">
                </p>
            </div>
        </form>
    </body>
</html>
